* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Integral CF";
  src: url(Fontspring-DEMO-integralcf-bold.otf);
}
@font-face {
  font-family: "Satoshi";
  src: url(Satoshi-Black.otf);
}
@font-face {
  font-family: "Satoshi-Light";
  src: url(Satoshi-Light.otf);
}
.all-menu {
  padding: 10px;
}
.sign-up1 {
  font-size: 14px;
}
.sign-up {
  color: white;
}
.logo {
  font-family: "Integral CF";
  font-weight: 700;
  font-size: 32px;
  color: black;
}
.navbar-toggler i {
  font-size: 20px;
}
.search {
  margin-right: 0px;
}
.search i {
  font-size: 20px;
}
.icon-header {
  padding-left: 10px;
}
.icon-header i {
  padding-right: 7px;
  font-size: 20px;
}
.icon-header i:hover {
  color: red;
  transition: 0.3s;
  cursor: pointer;
}
.line-bottom-menu {
  color: gray;
}
.next {
  font-family: "Satoshi-Light";
  display: flex;
}
.next span {
  font-size: 16px;
  color: black;
  font-weight: 900;
}
.next i {
  font-size: 11px;
  margin-right: 15px;
  margin-left: 5px;
}
.colors .item-colors {
  width: 100%;
  word-wrap: break-word; /* hoặc sử dụng overflow-wrap */
  overflow-wrap: break-word;
}

/* Left */
.main-content .filters {
  border: 1px #ececec solid;
  border-radius: 20px;
  padding: 20px;
}
.filters .tille-filters {
  display: flex;
  justify-content: space-between;
}
.filters .tille-filters p {
  align-items: start;
  font-family: "Satoshi";
  font-size: 20px;
}
.filters .tille-filters span {
  align-items: end;
}
.filters .tille-filters span i {
  font-size: 20px;
}
.filters .tille-item-filters {
  display: flex;
  justify-content: space-between;
}
.filters .tille-item-filters p {
  font-family: "Satoshi-Light";
}
.filters .tille-item-filters span i {
  font-size: 16px;
}
/* Range */
.range-slider {
  width: 100%;
  position: relative;
}

.range-slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: transparent;
  position: relative;
  z-index: 2;
  margin: 0;
}

/* Thanh trượt đằng sau */
.range-slider input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: black;
  border-radius: 5px;
}
/* Dấu trượt */
.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Tăng kích thước để nó nổi bật hơn */
  height: 20px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px; /* Đẩy dấu trượt lên để nó nằm trên thanh */
  position: relative;
  z-index: 3;
}

.range-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

/* Căn chỉnh nhãn giá trị */
.range-slider .price-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Satoshi-Light";
  font-weight: 800;
  position: relative;
  margin-top: 8px;
  z-index: 1;
}
/* Range */
.filters {
  font-family: "Satoshi-Light";
}
.filters .colors {
  padding: 0;
}
.filters .colors .item-colors {
  display: flex;
  flex-wrap: wrap;
}
.filters .colors .item-colors .item-1 {
  width: 37px;
  height: 37px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #00c12b;
  border: 2px #009a22 solid;
  border-radius: 50%;
}
.filters .colors .item-colors .item-2 {
  width: 37px;
  height: 37px;
  margin-right: 15px;
  background-color: #f50606;
  border: 2px #c40505 solid;
  border-radius: 50%;
}
.filters .colors .item-colors .item-3 {
  width: 37px;
  height: 37px;
  margin-right: 15px;
  border: 2px #c4b105 solid;
  background-color: #f5dd06;
  border-radius: 50%;
}
.filters .colors .item-colors .item-4 {
  width: 37px;
  height: 37px;
  margin-right: 15px;
  border: 2px #c46105 solid;
  background-color: #f57906;
  border-radius: 50%;
}
.filters .colors .item-colors .item-5 {
  width: 37px;
  height: 37px;
  margin-right: 15px;
  border: 2px #05a4c7 solid;
  background-color: #06caf5;
  border-radius: 50%;
}
.filters .colors .item-colors .item-6 {
  width: 37px;
  height: 37px;
  margin-right: 15px;
  border: 2px #052ec4 solid;
  background-color: #063af5;
  border-radius: 50%;
}
.filters .colors .item-colors .item-7 {
  width: 37px;
  height: 37px;
  margin-right: 15px;
  border: 2px #6405c4 solid;
  background-color: #7d06f5;
  border-radius: 50%;
}
.filters .colors .item-colors .item-8 {
  width: 37px;
  height: 37px;
  margin-right: 15px;
  border: 2px #c40583 solid;
  background-color: #f506a4;
  border-radius: 50%;
}
.filters .colors .item-colors .item-9 {
  width: 37px;
  height: 37px;
  margin-right: 15px;
  background-color: #ffffff;
  border: 2px #d2d2d2 solid;
  border-radius: 50%;
}
.filters .colors .item-colors .item-10 {
  width: 37px;
  height: 37px;
  margin-right: 15px;
  background-color: #000000;
  border-radius: 50%;
  margin-bottom: 20px;
}
.filters .size {
  padding: 0;
}
.filters .size .item-size {
  display: flex;
  flex-wrap: wrap;
}
.filters .size .item-size .item-size-1 {
  cursor: pointer;
  padding: 10px 20px;
  height: 39px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 62px;
}
.filters .size .item-size .item-size-1:hover {
  color: white;
  background-color: black;
  transition: 0.3s;
}
.filters .button-dress-style {
  cursor: pointer;
  width: 100%;
  padding: 16px 54px;
  background-color: #f0f0f0;
  border-radius: 62px;
  text-align: center;
}
.filters .button-dress-style:hover {
  color: white;
  background-color: black;
  transition: 0.3s;
}
/* Right */
.tille-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tille-product h3 {
  font-family: "Satoshi";
  font-size: 32px;
}
.tille-product p {
  font-size: 16px;
  font-family: "Satoshi-Light";
}
.page-next {
  display: flex;
  justify-content: space-between;
}
.page-next .return-page {
  cursor: pointer;
  height: 40px;
  display: flex;
  padding: 8px 14px;
  border: 1px #e6e6e6 solid;
  border-radius: 8px;
  text-align: center;
}
.page-next .return-page:hover {
  color: white;
  background-color: #000000;
  transition: 0.3s;
}
.page-next .return-page i {
  margin-top: 5px;
  margin-right: 10px;
}
.page-next .return-page p {
  margin-bottom: 0;
}
.page-next .page-number {
  display: flex;
}
.page-next .page-number .number-page {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
}
.page-next .page-number .number-page:hover {
  background-color: #f0f0f0;
}
.page-next .next-page {
  cursor: pointer;
  height: 40px;
  display: flex;
  padding: 8px 14px;
  border: 1px #e6e6e6 solid;
  border-radius: 8px;
  text-align: center;
}
.page-next .next-page:hover {
  color: white;
  background-color: #000000;
  transition: 0.3s;
}
.page-next .next-page i {
  margin-top: 5px;
  margin-left: 10px;
}
.page-next .next-page p {
  margin-bottom: 0;
}
/* Right */
.card {
  border: none;
  margin: 0 auto;
  text-align: left;
}
.card img {
  border-radius: 20px;
}
.card .card-body {
  margin-top: 5px;
  margin-bottom: 40px;
  padding: 0;
  text-align: left;
}
.card .card-body p {
  font-family: "Satoshi";
  margin: 4px 0;
  line-height: 1.4;
}
.card .card-body h5 {
  font-family: "Satoshi";
}
.card .card-body .product-rating {
  padding-bottom: 6px;
}
.card .card-body .product-rating i {
  color: #ffc633;
}
.card .card-body .ms-2 {
  color: black;
  font-size: 14px;
}
.price {
  display: flex;
}
.price .sale {
  font-family: "Satoshi";
  padding-left: 10px;
  text-decoration: line-through;
  color: #999999;
}
.price a {
  margin-left: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: red;
  width: 50px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border-radius: 62px;
  background-color: #ffebeb;
}
.img-fluid {
  padding: 25px;
}
.custom-button {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 50px;
  padding: 10px 30px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 16px;
  background-color: white;
  color: black;
  font-family: "Satoshi";
}

.custom-button:hover {
  background-color: aquamarine;
  transition: 0.4s;
}
.search {
  display: none;
}
.search i:hover {
  color: red;
  transition: 0.3s;
}
.search-input {
  margin-left: -100px;
}
.menu li {
  padding-right: 10px;
}
.tille {
  text-align: center;
  font-family: "Integral CF";
  margin-top: 60px;
  margin-bottom: 50px;
}
.custom-rounded {
  border-radius: 40px;
}
.container-img {
  padding-bottom: 40px;
}
.tille-1 {
  text-align: center;
  font-family: "Integral CF";
  padding-top: 70px;
  padding-bottom: 30px;
}
.tille-star {
  font-family: "Integral CF";
  margin-top: 80px;
  margin-bottom: 40px;
}
.text-justify {
  font-size: 16px;
}
.font-weight-bold {
  font-family: "Satoshi";
}
.product-rating {
  color: #ffc633;
}
.fa-circle-check {
  color: #01ab31;
}
.comment {
  border-radius: 20px;
}
.banner-sale {
  border-radius: 20px;
}
.banner-sale .row .banner-s h1 {
  font-family: "Integral CF";
  font-size: 40px;
}
.banner-sale .row .banner-s {
  width: 50%;
  margin: 0px 40px;
}
.form-control {
  border-radius: 62px;
}
.subscribe button {
  border-radius: 62px;
  background-color: white;
  color: black;
  font-family: "Satoshi";
}
.main-footer {
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
}
.main-footer .main-logo {
  width: 30%;
  padding-left: 80px;
}
.main-footer .main-logo .main-logo-in {
  width: 70%;
}
.main-footer .main-logo .main-logo-in h1 {
  font-family: "Integral CF";
}
.main-footer .main-logo .main-logo-in p {
  font-size: 14px;
  padding-top: 20px;
}
.main-footer .main-logo .main-logo-in .icon i {
  font-size: 17px;
  padding-top: 20px;
  padding-right: 15px;
}
.main-footer .main .main-end {
  width: 100%;
}
.main-footer .main {
  width: 70%;
  display: flex;
}
.end {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.end .end-left {
  width: 50%;
  padding: 0 70px;
}
.end .end-left p {
  font-size: 14px;
}
.end .end-right {
  padding: 0 70px;
  width: 50%;
  text-align: end;
}
.icon-main-left {
  display: none;
}
@media (max-width: 767px) {
  .icon-main-left {
    display: block;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 50%;
    background-color: #f0f0f0;
  }
  .page-next .return-page {
    display: none;
  }
  .page-next .next-page {
    display: none;
  }
  .sign-up1 {
    font-size: 12px;
  }
  .all-menu {
    margin-left: 0px;
  }
  .header-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .header-logo {
    flex: 1;
    text-align: center;
  }
  .header-menu {
    flex: 2;
    text-align: center;
  }
  .header-search {
    flex: 2;
    text-align: center;
  }
  .header-icons {
    flex: 1;
    text-align: center;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
  }
  .nav-item {
    flex: 1;
  }
  .container-menu {
    padding-left: 25px;
  }
  .search {
    display: block;
  }
  .search-input {
    width: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
  }

  .search-icon {
    display: block !important;
  }
  .tille-star {
    font-size: 32px;
  }
  .main-footer {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .main-footer .main-logo {
    width: 100%;
    padding-left: 0px;
  }
  .main-footer .main-logo .main-logo-in {
    padding-bottom: 20px;
    width: 100%;
  }
  .main-footer .main {
    width: 100%;
  }
  .container-menu .menu {
    padding-left: 130px;
  }
  .end {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .end .end-left {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .end .end-right {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .banner-sale .row .banner-s {
    width: 100%;
    margin: 0;
  }
  .banner-sale .row .banner-s h1 {
    font-size: 32px;
  }
  /* Banner */
  .main-item {
    flex-direction: column;
    height: auto;
  }
  .main-item .main-item-left {
    width: 100%;
  }
  .main-item .main-item-right {
    width: 100%;
  }
  .main-item .all-img {
    flex-direction: column;
  }
  .main-item .little-img .thumbnails {
    display: flex;
  }
  .main-image {
    margin-left: 40px;
  }
  .main-item .big-img img {
    width: 100%;
  }
  .main-item .thumbnails .thumbnail img {
    width: 130px;
  }
  .main-item .thumbnails .thumbnail {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .main-item .little-img {
    padding: 0;
  }
  .little-img {
    order: 2; /* Đặt cột nhỏ ở vị trí sau ảnh lớn */
  }

  .big-img {
    order: 1; /* Đặt ảnh lớn ở vị trí trên cùng */
  }
  /* Banner */
}
@media (max-width: 820px) {
  .all-menu .logo {
    font-size: 25px;
  }
  .navbar-toggler {
    display: block !important;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
  }
  .nav-item {
    flex: 1;
  }
  .navbar {
    display: none;
  }
}
